
{% load static %}

<!DOCTYPE html>
<html lang = "en"></html>
<head>
    <meta charset="UTF-8">
    <title> Page3</title>
    <link rel="stylesheet" href="{% static 'Page3.css' %}">
</head>
<body>
   <section class="header">
       <div class = "title-wrapper">
           <h1 class="sweet-title">
             <span data-text="TEAM">TEAM</span>
              <span data-text="FALCONS">FALCONS</span>  
           </h1>
           <span class = "top-title">WINNER BB DACHA</span>
           <span class = "bottom-title">WINNER DL </span>
       </div>
   </section>
</body>